#main_container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
#main_title{
  margin-top: 10rem;
  margin-left: 10%;
  color: #778E76;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 26pt;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.item_column{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.item{
  width: 38%;
  border-radius: 15px;
}
#main_quemsomos{
  margin-left: 8%;
  margin-right: 8%;
  height: 10rem;
  border-top: #778E76 4px solid;
  border-bottom: #778E76 4px solid;
}
#quemsomos_title{
  font-family: 'Poppins', sans-serif;
  color: #778E76;
  font-size: 26pt;
}
#quemsomos_texto{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: #576257;
}

#item1c1, #item1c2,  #item1c3,  #item1c4,  #item1c5, #item1c6, #item1c7, #item1c8{
  margin-left: 5%;
}

#item2c1, #item2c2,  #item2c3,  #item2c4,  #item2c5, #item2c6, #item2c7, #item2c8{
  margin-right:5%;
}
